<div class='container' style='text-align:center'>
    <h1>Editing Match</h1>
</div>

<br>
<%= render 'form', match: @match %>
<div class='container' style='text-align:center'>
<div class='btn-group'><%= link_to 'Show', @match, :class => "btn btn-outline-primary" %></div> |
<div class='btn-group'><%= link_to 'Back', matches_path, :class => "btn btn-outline-primary" %></div>
</div>